<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD App</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">CreateReadUpdateDelete</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- /Header -->
    <!-- Main Section -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <a href="/add-user" class="border-shadow">
            <span class="text-gradient"
              >New User <i class="fa-solid fa-user"></i
            ></span>
          </a>
        </div>
        <!-- form handling -->
        <form action="/" method="post">
          <table class="table">
            <thead class="thead-dark"></thead>
          </table>
        </form>
      </div>
    </main>
    <!-- /Main Section -->
  </body>
</html>
